<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.hackathon.dao.CashCouponDao">
    <!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="BaseResultMap" type="com.tomato.hackathon.pojo.CashCoupon">
        <id column="KeyId" property="keyId" jdbcType="INTEGER" />
        <result column="CashCouponId" property="cashCouponId" jdbcType="NVARCHAR" />
        <result column="Details" property="details" jdbcType="NVARCHAR" />
        <result column="Name" property="name" jdbcType="NVARCHAR" />
        <result column="CashAmount" property="cashAmount" jdbcType="FLOAT"/>
        <result column="Discount" property="discount" jdbcType="INTEGER"/>
        <result column="Drumsticks" property="drumsticks" jdbcType="INTEGER"/>
        <result column="ExchangeAmount" property="exchangeAmount" jdbcType="FLOAT"/>
        <result column="SellCount" property="sellCount" jdbcType="INTEGER"/>
        <result column="CommercialTenantId" property="commercialTenantId" jdbcType="NVARCHAR"/>
        <result column="Icon" property="icon" jdbcType="NVARCHAR"/>
        <result column="AllDrumsticks" property="allDrumsticks" jdbcType="NVARCHAR"/>
    </resultMap>

    <update id="addCount" parameterType="com.tomato.hackathon.pojo.CashCouponCount">
        UPDATE CashCoupon SET SellCount = SellCount + #{count,jdbcType=INTEGER}
        WHERE CashCouponId = #{cashCouponId, jdbcType=NVARCHAR}
    </update>

    <select id="getListByCommercialTenantId" resultMap="BaseResultMap">
        SELECT * FROM CashCoupon WHERE CommercialTenantId = #{0} LIMIT 100
    </select>

    <select id="getCashCouponListByFreshType" resultMap="BaseResultMap">
        SELECT * FROM CashCoupon WHERE Drumsticks is not null
    </select>

</mapper>