<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.hackathon.dao.CashCouponOrderDao">
    <!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="BaseResultMap" type="com.tomato.hackathon.pojo.CashCouponOrder">
        <id column="KeyId" property="keyId" jdbcType="INTEGER" />
        <result column="CashCouponOrderId" property="cashCouponOrderId" jdbcType="NVARCHAR" />
        <result column="OpenId" property="openId" jdbcType="NVARCHAR" />
        <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="Details" property="details" jdbcType="NVARCHAR"/>
        <result column="CashCouponId" property="cashCouponId" jdbcType="NVARCHAR" />
        <result column="Source" property="source" jdbcType="NVARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="com.tomato.hackathon.pojo.ExchangeOrder">
        INSERT INTO ExchangeOrder (CashCouponOrderId, OpenId, CreateTime, Details,
        CashCouponId, Source)
        VALUE (#{cashCouponOrderId,jdbcType=NVARCHAR}, #{openId,jdbcType=NVARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{details,jdbcType=NVARCHAR},
        #{cashCouponId,jdbcType=NVARCHAR}, #{source,jdbcType=NVARCHAR})
    </insert>
</mapper>