<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomato.hackathon.dao.CashCouponOrderDao">
    <!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="BaseResultMap" type="com.tomato.hackathon.pojo.CashCouponOrder">
        <id column="KeyId" property="keyId" jdbcType="INTEGER" />
        <result column="CashCouponOrderId" property="cashCouponOrderId" jdbcType="NVARCHAR" />
        <result column="OpenId" property="openId" jdbcType="NVARCHAR" />
        <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
        <result column="Details" property="details" jdbcType="NVARCHAR"/>
        <result column="CashCouponId" property="cashCouponId" jdbcType="NVARCHAR" />
        <result column="Source" property="source" jdbcType="NVARCHAR"/>
        <result column="Drumsticks" property="drumsticks" jdbcType="INTEGER"/>
        <result column="CashMount" property="cashAmount" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.tomato.hackathon.pojo.ExchangeOrder">
        INSERT INTO CashCouponOrder (CashCouponOrderId, OpenId, CreateTime, Details,
        CashCouponId, Source, Drumsticks, CashMount)
        VALUE (#{cashCouponOrderId,jdbcType=NVARCHAR}, #{openId,jdbcType=NVARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{details,jdbcType=NVARCHAR},
        #{cashCouponId,jdbcType=NVARCHAR}, #{source,jdbcType=NVARCHAR},
        #{drumsticks,jdbcType=INTEGER},#{cashAmount,jdbcType=INTEGER}
        )
    </insert>

    <select id="getCashCouponOrderListByOpenId" parameterType="com.tomato.hackathon.pojo.CashCouponOrderRequest"
            resultType="com.tomato.hackathon.pojo.CashCouponOrderDto">
        SELECT CashCouponOrder.CreateTime, CashCoupon.Discount, CashCouponOrder.Drumsticks, CommercialTenant.Icon,
        CommercialTenant.`Name`, CashCouponOrder.CashAmount
        FROM CashCouponOrder, CashCoupon, CommercialTenant WHERE CashCouponOrder.OpenId = #{openId,jdbcType=NVARCHAR}
        AND Source = #{cashCouponOrderType,jdbcType=NVARCHAR}
        AND CashCouponOrder.CashCouponId = CashCoupon.CashCouponId
        AND CashCoupon.CommercialTenantId = CommercialTenant.CommercialTenantId
        order by CreateTime
    </select>

</mapper>