<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmbccd.hackathon.dao.CustomerDao">
    <!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
    <resultMap id="BaseResultMap" type="com.cmbccd.hackathon.pojo.Customer">
        <id column="KeyId" property="keyId" jdbcType="INTEGER" />
        <result column="OpenId" property="openId" jdbcType="NVARCHAR" />
        <result column="NickName" property="nickName" jdbcType="NVARCHAR" />
        <result column="Slogen" property="slogan" jdbcType="NVARCHAR" />
        <result column="Drumsticks" property="drumsticks" javaType="INTEGER"/>
        <result column="WaterDrops" property="waterDrops" javaType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.cmbccd.hackathon.pojo.Customer">
        INSERT INTO Customer (OpenId, NickName, Slogen, Drumsticks, WaterDrops)
        VALUE (#{openId,jdbcType=NVARCHAR}, #{nickName,jdbcType=NVARCHAR},
        #{solgan,jdbcType=NVARCHAR}, #{drumstricks,jdbcType=NVARCHAR},
        #{waterDrops,jdbcType=NVARCHAR})
    </insert>
</mapper>